<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../root.css" />
    <link rel="stylesheet" href="./ApplicationSuccessfull.css" />
  </head>
  <body>
    <div class="ApplicationSuccessfull">
      <div class="ApplicationSuccessfull_top"></div>
      <div class="ApplicationSuccessfull-Container">
        <div>
          <header>
            <div class="header_log">
              <img src="../../Image//header_logo.png" alt="header logo" />
            </div>
            <div class="title">
              <h1>
                Dear Srikar Vishal,<br />
                Your Appoitment has been successful
              </h1>
            </div>
          </header>
        </div>
        <div class="Body_content">
          <section>
            <div class="paidStatus">
              <div>
                <img src="../../Image//successIcon.png" alt="sucess-icon" />
              </div>
              <h4>$.0,000.00</h4>
              <p>Paid successfully</p>
              <div class="paidStatus-description">
                <h6 class="paidStatus-info">
                  <span class="title">Payment Id</span>
                  <span class="description"> pay_inhusa6zhsolhab</span>
                </h6>
                <h6 class="paidStatus-info">
                  <span class="title">Method </span>
                  <span class="description"> UPI- 9705920100@uPI</span>
                </h6>
                <h6 class="paidStatus-info">
                  <span class="title">Paid </span>
                  <span class="description"> On 19th Dec, 2022</span>
                </h6>
                <h6 class="paidStatus-info">
                  <span class="title">Email</span>
                  <span class="description"> srikarvishalg9@gmail.com </span>
                </h6>
                <h6 class="paidStatus-info">
                  <span class="title">Mobile Number</span>
                  <span class="description"> +91 9705920100</span>
                </h6>
              </div>
            </div>
            <h2>If you have any questions, please contact Support.</h2>
            <h2>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in oluptate velit esse cillum dolore eu fugiat nulla
              pariatur. nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in oluptate velit esse cillum dolore eu
              fugiat nulla pariatur.
            </h2>
            <h3>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.
            </h3>
          </section>
          <div class="contact_us">
            <p>If you have any questions, please contact Support.</p>
          </div>
        </div>
        <div>
          <footer class="Appstore">
            <h1>Download the Ubora Health App</h1>
            <div class="store">
              <img src="../../Image/App_store.png" alt="logo" />
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
