body,
html,
*,
*::before,
*::after,
h1,
p,
ul,
li,
ol {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --primary: #2d80b5;
  --black: #777777;
  font-family: "Poppins";

  /* // height of the header-top  */
  --headerTopHeight: 1.2rem;

  /* // logo size */
  --logo-width: 10rem;

  /* // header titleproperty */
  --headerFontSize: 1.23rem;
  --headerLetterSpacing: -0.2px;
  --headerFontWeight: 600;
  --headerLineHeight: 2;
  --headerColor: #00000089;
  --headerMargin: 2% 0;

  /* // most of all description font-size */
  --descriptionFontSize: 0.8rem;

  /*   footer h1 text(Download the Ubora Health App); */
  --footerDownloadAppFontsize: 0.92rem;

  /* footer App store size of the image */
  --footerAppStoreImage: 20rem;
  
}
html::-webkit-scrollbar {
  display: none;
}
