.recover_password .recover_password_top {
  background-color: var(--primary);
  height: var(--headerTopHeight);
}
.recover_password .recover_password-Container {
  padding: 1% 3%;
}
.recover_password header .header_log {
  margin: 2% 0;
}
.recover_password header .header_log img {
  width: var(--logo-width);
}
.recover_password header .title {
}
.recover_password header .title h1 {
  font-size: var(--headerFontSize);
  letter-spacing: var(--headerLetterSpacing);
  font-weight: var(--headerFontWeight);
  line-height: var(--headerLineHeight);
  color: var(--headerColor);
  margin: var(--headerMargin);
}
.recover_password header .title p {
  color: var(--primary);
  margin: 2.5% 0;
  font-size: var(--descriptionFontSize);
  font-weight: 500;
  margin: 3% 0;
}
.recover_password .Body_content section {
}
.recover_password .Body_content section h2 {
  color: var(--black);
  margin: 2.5% 0;
  font-size: var(--descriptionFontSize);
  font-weight: 500;
}
.recover_password .Body_content section h3 {
  color: var(--black);
  margin: 2.5% 0;
  font-size: var(--descriptionFontSize);
  font-weight: 500;
  margin: 3% 0;
}
.recover_password .Body_content .contact_us {
}
.recover_password .Body_content .contact_us p {
  color: var(--black);
  margin: 2.5% 0;
  font-size: var(--descriptionFontSize);
  font-weight: 500;
  margin: 7% 0;
}

@media screen and (min-width: 118em) {
  .recover_password .Body_content .contact_us p {
    margin: 6% 0;
  }
}
.recover_password footer.Appstore {
  margin: 3% 0 1% 0;
}
.recover_password footer.Appstore h1 {
  color: var(--primary);

  font-size: var(--footerDownloadAppFontsize);
  letter-spacing: -0.2px;
  font-weight: 600;
  margin-bottom: 1%;
}
.recover_password footer.Appstore .store img {
  width:var(--footerAppStoreImage);
}
